body, html, div, p, span, a, h1, h2, h3, h4, h5{
	margin 				: 0;
	padding 			: 0;
}

body, html{	
	width 				: 100%;
}

body{
	background 			: url('../img/bkgd.png') repeat top left;
	color 				: white;
	font-family 		: tahoma;
	font-weight 		: lighter;
	padding-top 		: 40px;
}

	body p{
		font-size 		: 14px;
	}
	
		body p a{
			font-size	: 16px;
		}

h1 {
	color 				: #FE0A24;	
	font-style 			: italic;
}

a{
	color 				: #FE0A24;	
	text-decoration		: none;
}

a:hover{
	text-decoration		: underline;
}

/* general */
.clear {
	clear: both;
}

/* Header */
.brand{
	color 				: #FE0A24 !important;	
	font-family 		: georgia;
	font-style 			: italic;
}

/* list stuff */
#org{
	background-color 	: white;
	margin 				: 10px;
	padding 			: 10px;
}

#show-list{
	cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
	margin: 2px 0;
}

.topbar{
	position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 14px;
	background-color 	: #000101;
	border-radius 		: 8px;
	border 				: 5px solid white;
	color 				: #FE0A24;
	-moz-border-radius 	: 8px;
}
.node p{
	font-family 	: tahoma;
	font-size 		: 10px;
	line-height 	: 11px;
	padding 		: 2px;
}

p.infos[data-tooltip] {
  position: relative;
  font-size:10px;
}

[data-tooltip]:before,
[data-tooltip]:after {
  display: none;
  position: absolute;
  top: 0;
}

[data-tooltip]:before {
  border-bottom: .6em solid #FE0A24;
  border-bottom: .6em solid rgba(254,10,36,0.8);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  left: 53px;
  margin-top: 1em;
}

[data-tooltip]:after {
  background-color: #000101;
  background-color: rgba(0,1,1,0.8);
  border: 4px solid #FE0A24;
  border: 4px solid rgba(254,10,36,0.8);
  border-radius: 7px;
  color: #ffffff;
  content: /*attr(data-tooltip-label) ":\A"*/ attr(data-tooltip-message);
  left: 0;
  margin-top: 1.5em;
  padding: 0px 0px;
  white-space: pre-wrap;
  width: 140px;
}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  display: block;
}

	
/* Custom */
p.service{
	margin-top:6px;
	color : white;
}

p.site{
	font-size:11px;
	margin-top:3px;
	color : LightGrey;
	font-style: italic;
}

p.infos{
	font-size:18px;
}